.table {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding-top: 30px;
}

.header-title {
    align-self: center;
    justify-self: center;
}

.header {
    display: grid;
}

.header-button {
    background-color: #efefef;
    padding: 10px;
    margin-left: auto;
    align-self: end;
    margin-right: 5px;
}


td.mat-column-name {
    width: 45em;
}

td.mat-column-startDate {
    width: 15em;
}

td.mat-column-projectManager {
    width: 15em
}

td.mat-column-expand {
    width: 5em
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
    align-content: center;
    justify-content: center;
}

button {
    padding: 0;
    margin: 20px 40px;
    color: #3573b2;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

button:hover {
    color: #0b437c;
}
