<div class="header">
    <a class="back-button" routerLink="/projects"> Back to Projects Overview </a>
    <h1> Project Detail </h1>
</div>
<div class="project-fields">
    <div class="project-fields-left">
        <div class="field"> Projectname: {{project.value.name}} </div>
        <div class="field"> Project Manager: {{project.value.projectManager}} </div>
    </div>
    <div class="project-fields-right">
        <div class="field"> Start Date: {{project.value.startDate}} </div>
        <div class="field"> End Date: </div>
    </div>
</div>
<ngx-graph
        class="chart-container"
        [view]="[500, 200]"
        [links]="[
    {
      id: 'a',
      source: 'first',
    target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }
  ]"
        [nodes]="[
    {
      id: 'first',
      label: 'A'
    }, {
      id: 'second',
      label: 'B'
    }, {
      id: 'third',
      label: 'C'
    }
  ]"
>
</ngx-graph>
<div class="header">
    <button class="new-button" [routerLink]="['new-wp']"> New Workpackage</button>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <!-- Duration Column -->
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration (h) </th>
            <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>

        <!-- StartDate Column -->
        <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{ convertDate(element.startDate) }} </td>
        </ng-container>

        <!-- Previous Package Column -->
        <ng-container matColumnDef="previousPackage">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Previous Package </th>
            <td mat-cell *matCellDef="let element"> {{element.previousPackage}} </td>
        </ng-container>

        <!-- Assignee Column -->
        <ng-container matColumnDef="assignee">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignee </th>
            <td mat-cell *matCellDef="let element"> {{element.assignee}} </td>
        </ng-container>

        <ng-container matColumnDef="expand">
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                    <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                    <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                    <div class="extendedRow">
                        <button> Edit </button>
                        <button> Delete </button>
                    </div>
                </div>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let element; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                   showFirstLastButtons
                   aria-label="Select page">
    </mat-paginator>
</div>
